<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Buonzz Systems - Open Source Libraries and Projects</title>
		<noscript>
			<link rel="stylesheet" href="//www.buonzz.com/css/skel.css" />
			<link rel="stylesheet" href="//www.buonzz.com/css/style.css" />
			<link rel="stylesheet" href="//www.buonzz.com/css/syntax.css" />
		</noscript>
		<link rel="stylesheet" href="//www.buonzz.com/css/syntax.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.url}}/css/ie/v8.css" /><![endif]-->
		<link rel="icon" type="image/png"  href="//www.buonzz.com/favicon.png">
	</head>
