<div class="row no-collapse-1 flush">
	<ul class="divided icons 6u">
		<li class="icon fa-twitter"><a href="https://twitter.com/buonzz"><span class="extra">twitter.com/</span>Twitter</a></li>
		<li class="icon fa-facebook"><a href="https://www.facebook.com/pages/Buonzz-Systems/773475579332062"><span class="extra">facebook.com</span>Facebook</a></li>
		<li class="icon fa-dribbble"><a href="#"><span class="extra">dribbble.com</span>Dribble</a></li>
	</ul>
	<ul class="divided icons 6u">
		<li class="icon fa-instagram"><a href="http://instagram.com/buonzz"><span class="extra">instagram.com/</span>buonzz</a></li>
		<li class="icon fa-youtube"><a href="https://www.youtube.com/channel/UCea6F80DDu2dFRNJgcnwalQ"><span class="extra">youtube.com</span>YouTube</a></li>
		<li class="icon fa-pinterest"><a href="http://www.pinterest.com/buonzz/"><span class="extra">pinterest.com/</span>Pinterest</a></li>
	</ul>
</div>