{% include header.html %}
	<style>
		#footer-wrapper {
		    padding: 1em 0;
		}
		.wrapper {
		    padding: 1em 0 1em 0;
		}

		#copyright {
			padding-top: 1em;
			margin-top:1em;
			border-top:0px;
		}

		.post-title{
			font-size:2em;
		}
	</style>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					 {% include menu.html %}
				</div>

			<!-- Main -->
				<div class="wrapper">
					<div class="container" id="main">
						{{ content }}
					</div>
					<div class="container"><div id="disqus_thread"></div></div>
				<script>
				(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');

				s.src = '//buonzzsystems.disqus.com/embed.js';

				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
{% include footer.html %}   