{% include header.html %}
	<style>
		#footer-wrapper {
		    padding: 1em 0;
		}
		.wrapper {
		    padding: 1em 0 1em 0;
		}

		#copyright {
			padding-top: 1em;
			margin-top:1em;
			border-top:0px;
		}

		.post-title{
			font-size:2em;
		}
	</style>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					 {% include menu.html %}
				</div>

			<!-- Main -->
				<div class="wrapper">
					<div class="container" id="main">
						{{ content }}
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
{% include footer.html %}   